wandb:
  project: foundational_ssm_rtt_sgd
  tags: [neural, behavior, downstream, decoding, rtt]
  entity: melinajingting-ucl

dataset:
  name: mc_rtt_prepend
  batch_size: 64
  phase: 'validation'
  skip_timesteps: 60

model:
  input_dim: 130
  dim_ssm_io: 256
  num_ssm_layers: 2
  output_dim: 2
  rng_seed: 42
  dropout_p: 0.03
  
  ssm_layer_cls: S5Layer
  ssm_layer_args:
    dim_ssm_state: 128
    dt_min: 0.001
    dt_max: 0.01
    conj_sym: True
    clip_eigs: False
    discretisation: "zoh"
    C_init: "trunc_standard_normal"

optimizer:
  algorithm: sgd
  hyperparams: 
    learning_rate: 0.02
    momentum: 0.9
    nesterov: false
    # weight_decay: 0.01
  mode: all

training:
  epochs: 501
  log_val_every: 100
  save_checkpoints: false
  checkpoint_every: 100
  save_activations: false
  log_pred_and_activations_every: 999

rng_seed: 42
device: cuda