# Wandb sweep configuration
program: scripts/training/nlb_downstream.py
method: bayes
metric:
  name: final/r2
  goal: maximize
run_cap: 200  
early_terminate:
  type: hyperband
  min_iter: 10
parameters:
  dataset.name:
    values: [mc_area2bump_prepend]
  optimizer.hyperparams.learning_rate:
    min: 0.025
    max: 0.1
  optimizer.hyperparams.momentum:
    min: 0.0
    max: 0.99
  optimizer.hyperparams.nesterov:
    values: [true, false]

wandb:
  project: foundational_ssm_downstream_sgd_sweeps
  tags: [neural, behavior, downstream, decoding, sweep]
  entity: melinajingting-ucl
  run_prefix: rtt
