wandb:
  project: foundational_ssm_downstream_pm
  tags: [neural, behavior, masking]
  entity: melinajingting-ucl
  resume_run_id: null 

dataset_args:
  recording_id: perich_miller_population_2018/t_20130909_center_out_reaching

train_loader:
  dataloader_args:
    batch_size: 64
    num_workers: 12
    persistent_workers: true
  sampler: RandomVariableWindowSampler
  sampler_args:
    drop_short: true
    min_window_length: 1
    max_window_length: 1

val_loader:
  dataloader_args:
    batch_size: 64
    num_workers: 0
    persistent_workers: false
  sampler: TrialSampler

model:
  input_dim: 72
  dim_ssm_io: 256
  dim_ssm_state: 128
  num_ssm_layers: 2
  output_dim: 2
  rng_seed: 42
  dt_min: 0.001
  dt_max: 0.05
  dropout_p: 0.03

optimizer:
  algorithm: sgd
  hyperparams: 
    learning_rate: 0.02
    momentum: 0.9
    nesterov: false
    # weight_decay: 0.01
  mode: all

training:
  epochs: 701
  log_val_every: 100
  save_checkpoints: false
  checkpoint_every: 100
  from_scratch: false

prepend_history: 0.3
sampling_rate: 200
rng_seed: 42
