# Wandb sweep configuration
program: scripts/training/brainset_downstream.py
method: bayes
metric:
  name: final/r2
  goal: maximize
run_cap: 200  # Limit total number of runs
early_terminate:
  type: hyperband
  min_iter: 10
parameters:
  dataset_args.recording_id:
    values: 
    - perich_miller_population_2018/t_20130910_random_target_reaching
    - perich_miller_population_2018/t_20130819_center_out_reaching
  optimizer.algorithm_kwargs.learning_rate:
    values: [0.03, 0.035, 0.04, 0.045, 0.05]
  model.ssm_layer_cls: 
    values: ["S5Layer"]

# Fixed parameters (not swept)
wandb:
  project: foundational_ssm_downstream_sgd_sweeps
  tags: [neural, behavior, downstream, decoding, sweep]
  entity: melinajingting-ucl
  run_prefix: sweep_pm
