# Wandb sweep configuration
program: scripts/training/brainset_downstream.py
method: bayes
metric:
  name: final/r2
  goal: maximize
run_cap: 200  # Limit total number of runs
early_terminate:
  type: hyperband
  min_iter: 10
parameters:
  dataset_args.recording_id:
    values: [perich_miller_population_2018/t_20130910_random_target_reaching]
  optimizer.hyperparams.learning_rate:
    min: 0.025
    max: 0.1
  optimizer.hyperparams.momentum:
    min: 0.0
    max: 0.99
  optimizer.hyperparams.nesterov:
    values: [true, false]

# Fixed parameters (not swept)
wandb:
  project: foundational_ssm_downstream_sgd_sweeps
  tags: [neural, behavior, downstream, decoding, sweep]
  entity: melinajingting-ucl
  run_prefix: sweep_pm
