wandb:
  project: foundational_ssm_pretrain
  tags: [neural, behavior, masking]
  entity: melinajingting-ucl
  resume_run_id: null 

model_cfg: configs/model/l2_test_sgd.yaml
dataset_args: 
  config: configs/dataset/reaching.yaml

train_loader:
  dataloader_args:
    batch_size: 512
    num_workers: 20
    persistent_workers: true
  sampler: RandomVariableWindowSampler
  sampler_args:
    drop_short: true
    min_window_length: 1
    max_window_length: 5

val_loader:
  dataloader_args:
    batch_size: 512
    num_workers: 4
    persistent_workers: true
  sampler: TrialSampler

training:
  epochs: 501
  checkpoint_every: 1
  log_val_every: 50

prepend_history: 0.3
sampling_rate: 200
rng_seed: 42

